Repository douglasselias/fullstack-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run precommit, echo 0

fix: id
  infra/id.ts
Due: npm run precommit, echo 0

fix: lint stage config
  .huskyrc
  .lintstagedrc
  package.json
Due: npm run precommit

chore: add threshold in jest
  jest.config.js
Due: npm run precommit

chore: ignore local env file
  .gitignore
Due: none

fix: wow lint staged
  infra/index.ts
  infra/repository-add-task.test.ts
  infra/repository-add-task.ts
  infra/repository-list-tasks.test.ts
  infra/repository-list-tasks.ts
  infra/tasks.json
  package-lock.json
  package.json
  use-cases/add-task/add-task.presentation.test.tsx
  use-cases/add-task/add-task.presentation.tsx
Due: npm run precommit, echo 0

fix: wow lint staged
  .huskyrc
  README.md
  infra/id.ts
  package.json
  schema.sql
  use-cases/add-task/add-task.localstorage.test.ts
  use-cases/add-task/add-task.localstorage.ts
  use-cases/add-task/index.page.test.tsx
  use-cases/list-tasks/list-tasks.localstorage.test.ts
  use-cases/list-tasks/list-tasks.localstorage.ts
Due: npm run precommit, echo 0

test: add list tasks interactor tests
  use-cases/list-tasks/list-tasks.interactor.test.ts
  use-cases/list-tasks/list-tasks.interactor.ts
  use-cases/list-tasks/list-tasks.usecase.ts
Due: npm run precommit, echo 0

chore: run coverage on before push
  package.json
Due: npm run precommit

fix: commit
  components/SingleTask.tsx
  components/TaskList.tsx
  components/index.ts
  infra/id.ts
  pages/_app.tsx
  pages/_document.tsx
  pages/api/index.ts
  use-cases/add-task/index-page-factory.tsx
  use-cases/add-task/index-page.tsx
Due: npm run precommit, echo 0

chore: fix ts
  components/base/Header.tsx
  components/base/Input.tsx
Due: npm run precommit

style: not style
  components/base/Button.tsx
  components/base/Header.tsx
  components/base/Input.tsx
  components/base/index.ts
  infra/date.id-generator.ts
  main/index.page.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  stylelint.config.js
  styles/index.css
  use-cases/add-task/add-task.presentation.tsx
  use-cases/list-tasks/TasksList.tsx
Due: npm run precommit, echo 0

fix: test coverage
  infra/date.id-generator.test.ts
  jest.config.js
  use-cases/list-tasks/TasksList.test.tsx
Due: npm run precommit, echo 0

chore: test
  components/base/Input.tsx
  jest.config.js
  use-cases/add-task/add-task.presentation.tsx
  use-cases/list-tasks/TasksList.tsx
Due: npm run precommit

feat: add toggle task interactor
  .github/dependabot.yml
  README.md
  global.d.ts
  tsconfig.json
  use-cases/add-task/add-task.interactor.test.ts
  use-cases/add-task/add-task.interactor.ts
  use-cases/add-task/add-task.repository.ts
  use-cases/add-task/add-task.usecase.ts
  use-cases/add-task/id-generator.infra.ts
  use-cases/list-tasks/list-tasks.interactor.ts
  use-cases/list-tasks/list-tasks.repository.ts
  use-cases/list-tasks/list-tasks.usecase.ts
  use-cases/login/login.interactor.test.ts
  use-cases/login/login.interactor.ts
  use-cases/login/login.usecase.ts
  use-cases/toggle-is-done-task/toggle-is-done-task.interactor.test.ts
  use-cases/toggle-is-done-task/toggle-is-done-task.interactor.ts
  use-cases/toggle-is-done-task/toggle-is-done-task.repository.ts
  use-cases/toggle-is-done-task/toggle-is-done-task.usecase.ts
Due: npm run precommit, echo 0

feat: add toggle is done presentation
  main/index.page.tsx
  use-cases/list-tasks/TasksList.test.tsx
  use-cases/list-tasks/TasksList.tsx
  use-cases/login/login.interactor.ts
  use-cases/toggle-is-done-task/toggle-is-done-task.interactor.ts
  use-cases/toggle-is-done-task/toggle-is-done-task.localstorage.test.ts
  use-cases/toggle-is-done-task/toggle-is-done-task.localstorage.ts
Due: npm run precommit, echo 0

feat: add callback to toggle task
  main/index.page.tsx
  use-cases/list-tasks/TasksList.test.tsx
  use-cases/list-tasks/TasksList.tsx
Due: npm run precommit

chore: comment unused code
  use-cases/list-tasks/TasksList.test.tsx
  use-cases/login/login.interactor.ts
Due: npm run precommit, echo 0

chore: update lock file
  package-lock.json
Due: npm run precommit

Update readme
  README.md
Due: npm run precommit

afsdfsadfsdaf
  README.md
Due: npm run precommit

wow
  .gitignore
  package-lock.json
  package.json
Due: npm run precommit

comit husky
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: npm run precommit

feat: add commit lint
  .commitlintrc.json
Due: npm run precommit

feat: add commit lint hook
  .husky/commit-msg
  package-lock.json
  package.json
Due: npm run precommit

feat: add .next in gitignore
  .gitignore
Due: none

feat: ok
  package-lock.json
  package.json
  pages/index.tsx
Due: npm run precommit

feat: ok
  next-env.d.ts
  tsconfig.json
Due: npm run precommit, echo 0

feat: add jest and react testing library
  .babelrc.json
  index.test.ts
  index.test.tsx
  jest-setup.ts
  jest.config.json
  package-lock.json
  package.json
  readme.md
  tsconfig.json
Due: npm run precommit, echo 0

feat: add prettier
  .husky/pre-commit
  .prettierignore
  .prettierrc.json
  jest.config.json
  package-lock.json
  package.json
  tsconfig.json
Due: npm run precommit

feat: add prettier
  index.test.ts
  index.test.tsx
  jest-setup.ts
  pages/index.tsx
Due: npm run precommit, echo 0

Update dependabot.yml
  .github/dependabot.yml
Due: npm run precommit

feat: add husky install script
  package.json
Due: npm run precommit

feat: add eslint
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: npm run precommit

feat: add lint and format pre commit hook
  .eslintrc.json
  .husky/pre-commit
  package.json
Due: npm run precommit

feat: add typescript compiler git hook
  .husky/pre-commit
  package.json
Due: npm run precommit

feat: add pre push git hook
  .husky/pre-push
Due: none

Path conditions:
  npm run precommit: any of: *.{js,ts,tsx,md,yml,css,json}
  echo 0: any of: *.ts
